@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>Site Updates</h2>
            <h5>InfoTeach Goes Live 11/22/2021</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p><b>Post Launch plans</b></p>
            <p>Following the inital launch of InfoTeach we are focusing on improving our automated grading system, stay tuned for more updates.</p>
        </div>
        <div class="card">
            <h2>System Maintanence</h2>
            <h5>Server Update 11/22/2021</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p><b>Database Change's</b></p>
            <p>Following this update, webpages will operate more efficently.</p>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>Contact Us</h2>
            <div class="fakeimg" style="height:100px;">Image</div>
            <p>Reach out to our marketing team for a project assessment at Placeholder@Placeholder.com</p>
        </div>
        <div class="card">
            <h3>Popular Lessions</h3>
            <div class="fakeimg"><p>Image</p></div> <!-- should be changed to show a representation of website traffic-->
            <div class="fakeimg"><p>Image</p></div> <!-- should be changed to show a representation of website traffic-->
            <div class="fakeimg"><p>Image</p></div> <!-- should be changed to show a representation of website traffic-->
        </div>
        <!--beginning of modal login-->
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
        <div id="id01" class="modal">

            <form class="modal-content animate" action="/action_page.php" method="post">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>

                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <button type="submit">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div>

                <script>
                    // Get the modal
                    var modal = document.getElementById('id01');

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
            </form>
        </div>
        <!--End of modal login-->
    </div>
</div>