@model List<Assignment>

<ul>
    @foreach (var item in Model)
    {

        <li>
            <input id="@item.AssignmentId" type="button" value="@item.AssignmentName" onclick="loadAssignment(this.id)" />
        </li>
    }
</ul>