<!DOCTYPE html>
<html lang="en">
<!--Start of _LayoutNav.cshtml-->
<!--Resopnsible for providing a navigation bar once the user logs in-->
<!--
To do, 
-Add Dropdown Menu
-Add User Validation
-->
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["LessonsNav"] - Lessons</title>

</head>
<body>

    <header>
        <div class="Navigation-Container">
            <div class="topnav">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Home"><b>InfoTeach</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Lessons" asp-action="MyLessons">Lessionssss</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact us</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SiteUpdates">Updates</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contribute">Contribute Test!</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - InfoTeach - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<!--End of _LayoutNav.cshtml-->
</html>
