@{
    ViewData["Title"] = "My Lessons";
}
<div id="lessonsNav">
    <div id="subjects">

    </div>
    <div id="lessons">

    </div>
    <div id="assignments">

    </div>
</div>
<div id="assignmentContainer">

</div>